body {

    background-color: gray;
}

.sidenote {

    border: solid black 5px;
    background-color: white;
    width: 400px
    

}

h3, p {

    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.grid {
    width: 560px;
    height: 560px;
    border: solid black 3px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;

}

.grid div {

    width: 20px;
    height: 20px;
    
}

.point {
    background-color: palevioletred;
    box-sizing: border-box;
    border: solid white 5px
}

.border{

    background-color: darkslategray;
    
}


.power-pellet {

    background-color: yellow;
    border-radius: 10px;
}

.cat1 {
    background-color: red;
    
}

.cat2 {
    background-color: blue;
    
}

.cat3 {
    background-color: green;
    
}

.cat4 {
    background-color: orange;
    
}

.maincat {
    
    background-image: url('/img/image-removebg-preview\ \(2\).png');
    background-size: cover; 
    background-position: center; 
}
    


.scared-ghost {
    background-color: rgb(243, 4, 143);
    
}

